 html, body {
     background: black;
     font-family: 'Open Sans Condensed', sans-serif;
 }

 textarea {
     width: 100%;
     height: 100%;
     opacity: 0;
     ​
 }

 .mobileText {
     background-color: black;
     width: 100%;
     height: 100%;
     bottom: 0px;
     top: 0px;
     left: 0;
     position: absolute;
     z-index: 300;
     opacity: 0;
 }

 .highlight {
     color: #f90;
 }

 .floatLeft {
     float: left;
 }

 .floatRight {
     float: right;
 }

 .crop {
     overflow: hidden;
 }

 .character {
     height: 50rem;
     overflow: hidden;
     font-size: 2rem;
     color: #99c;
 }

 #characters {
     position: relative;
     height: 50rem;
     top: -2200rem;
     line-height: 1.3;
 }

 h2 {
     margin-bottom: .5rem;
     color: white;
 }

 .padBottom {
     position: relative;
     bottom: .2rem;
 }

 .padTop {
     position: relative;
     top: .2rem;
 }

 .padLeft {
     margin-left: 2rem;
     position: relative;
     top: .5rem;
 }

 .access {
     width: inherit;
 }

 i {
     color: #c9c;
 }

 .animT {
     width: auto;
     height: 320px!important;
     background-image: url(../images/mapbuttons.gif);
 }

 .anim {
     width: auto;
     background-image: url(../images/mapbuttons.gif);
 }

 .animM {
     width: auto;
     height: 150px!important;
     background-image: url(../images/mapbuttons.gif);
 }

 .pic {
     margin: .3rem 1rem 0 0;
     width: 160px;
     float: left;
     border: .2rem solid #c66;
 }
